<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/main.css" rel="stylesheet">
</head>
<body>
    <div class="logincontain">
    <% if(locals.error){ %> 
        <h1><%= error %> </h1>
   <% } %>
   
   <h1>SIGN IN</h1>
    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button type="submit">Submit</button>
    </form>
    <a href="/register"><span>New User ?</span>Register</a>
</div>
</body>
</html>